include _mixins/meta.pug

html
    block vars
    head
        +meta(title)
        block head
            link(rel="stylesheet", href="/static/css/dashboard.css")
            script(src="/static/js/require.min.js")
            script.
                requirejs.config({
                    baseUrl: '/static/'
                });
            script(src="/static/js/dashboard.js")
body
    .container
        block content
