html
    block vars
    head
        meta(name="renderer", content="webkit")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
        meta(name="referrer", content="never")
        meta(name="author", content="bukas")
        title #{title}
        block head
            link(rel="stylesheet", href="/css/dashboard.css")
            script(src="/js/require.min.js")
            script.
                requirejs.config({
                    baseUrl: '/'
                });
            script(src="/js/dashboard.js")
body
    div.container
        block content
