extends layout.pug

block vars
  - var title = "登录"

include _mixins/input.pug

block content
    .page
        .page-single
            .container
                .row
                    .col.col-login.mx-auto
                        .text-center.mb-6
                            img(class="h-6" src="/static/images/logo.png" alt="mars")
                        form(class="card" method="POST")
                            .card-body.p-6
                                .card-title 管理系统登录
                                +input('text', '用户名', 'loginname', '请输入登录用户名')(required)
                                +input('password', '密码', 'password', '请输入密码')(required)
                                .form-group
                                    label.custom-control.custom-checkbox
                                        input(type="checkbox" class="custom-control-input")
                                        span.custom-control-label 记住我
                                .form-footer
                                    button(type="submit" class="btn btn-primary btn-block") 登录
